body {
    text-align: center;
}

.info_box {
    display: flex;
    flex-direction: column;
}

.info_box img {
    object-fit: contain;
    display: block;
    max-height: 45vh;
    width: auto;
    height: auto;
    cursor: pointer;
}